table {
      border-collapse: collapse;
    }
    td {
    width: 200px;
    height: 200px;
    padding: 0;
  }
  .image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  .image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 105%;
    height: 105%;
    transform: translate(-50%, -50%);
  }
 img:hover {
       opacity:0.2;
 }
  .center {
        display: flex;
        justify-content: center;
        align-items: center;
  }
