table {
      border-collapse: collapse;
    }
    td {
    width: 200px;
    height: 200px;
    padding: 0;
  }
  .image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  .image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    transform: translate(-50%, -50%);
  }
  .center {
    	object-position:center;
  }
